<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sven.rainbowbeachlib">


    <application android:requestLegacyExternalStorage="true">

        <activity
            android:name=".view.StartActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.sven.rainbowbeachlib.service.FloatService" />

        <activity
            android:name="com.sven.rainbowbeachlib.view.CheckViewInfoActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".view.AdbOperationActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name=".view.SpManagerActivity"
            android:launchMode="singleInstance" />

        <!-- 告知 XXPermissions 当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
    </application>


    <!-- 悬浮窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


</manifest>